<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Getir Frontend Task - Wow Team</title>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/vendor/angular-datepicker.min.css">
    </head>
    <body ng-app="myApp" ng-cloak>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container"
             ng-controller="MainContoller as vm">

            <h1>Simple DatePicker App</h1>
            <hr>

            <div class="row">
                <div class="four columns">
                    <datepicker date-format="yyyy-MM-dd">
                        <input class="u-full-width"
                               ng-model="vm.startDate"
                               placeholder="Choose a start date"
                               type="text"/>
                    </datepicker>
                </div>


                <div class="four columns">
                    <datepicker date-format="yyyy-MM-dd">
                        <input class="u-full-width"
                               ng-model="vm.endDate"
                               placeholder="Choose an end date"
                               type="text"/>
                    </datepicker>
                </div>

                <div class="four columns">
                    <button ng-click="vm.send()"
                            type="submit">Send</button>
                </div>
            </div>

            <table class="u-full-width"
                   ng-show="vm.records">
                <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                        <th>createdAt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in vm.records track by $index">
                        <td>{{ ::record.key }}</td>
                        <td>{{ ::record.value }}</td>
                        <td>{{ ::record.createdAt }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="js/vendor/angular.min.js"></script>
        <script src="js/vendor/angular-datepicker.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
